h1{
  color :red;
}

body {
  background-image:url('/images/weapons.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

#weapons {
  .weapon {
  background-color: red;
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;

    &> div:first-child {
      background-position: center;
      height: 100px;
      width: 100px;
      background-size: cover;
      border: 2px solid red;
      margin: 10px;
    }

    &> div:nth-child(2) {
      padding: 10px;
      font-family: monospace;
    }
  }
}

#fighters {
  .fighter {
  background-color: #adadad;
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;

    &> div:first-child {
      height: 100px;
      width: 100px;
      background-size: cover;
      border: 2px solid red;
      margin: 10px;
    }

    &> div:nth-child(2) {
      padding: 10px;
      font-family: monospace;
    }
  }
}

.choose {
  border: 5px solid red;
  background-color: red;
}

.picked, .dead {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

// .p1 {
//   border: 5px solid red;
//   background-color: red;
// }
//
// .p2 {
//   border: 5px solid blue;
//   background-color: blue;
// }
